$headerFont: 'Fredericka the Great', cursive;
$mainFont: 'Raleway', sans-serif;

$headerColor: #ffd521;
$navColor: #e2a301;
$portfolioColor: #daeee9;
$overlayColor: #67917a;
$offWhite: #f7fff8;
$alternateColor: #abd2c8;