@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';
@import 'partials/footer';

section.about, section.skillz h2, section.skillz div.toolbox, section.skillz div.interests1, section.skillz div.interests2 {
	transform: skewY(-5deg);
}

section.about img, section.about h2, section.about p, section.skillz{
	transform: skewY(5deg);
}

section.about {
	background-color: white;
	margin: -115px 0;
	display: flex;
	padding: 5%;
}

section.about h2 {
	color: $overlayColor;
	text-align: right;
	position: relative;
	&::after {
	        content: '';
	        position: absolute;
	        top: -45px;
	        right: -40px;
	        height: 60px;
	        width: 40px;
	        border-top: 10px solid $navColor;
	        border-right: 10px solid $navColor;
	    }
}

section.about p {
	font-size: 3rem;
}

div.aboutText {
	padding: 5%;
}

section.about img {
	margin: 5%;
}

.clip-diamond {
  transition: .8s all, .3s .3s transform;
  clip-path: polygon(50% 0%, 50% 0%, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
  opacity: 0.8;
  top: 15%;
  left: 8%;
}

.clip-diamond:hover {
  clip-path: polygon(50% 0%, 50% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 0%);
  transform: scale(1.2);
  border-radius: 200px;
   box-shadow: 0 0 10px rgba(0,0,0,.3);
  opacity: 1;
}

section.portfolio {
	background-color: $portfolioColor;
	padding: 15%;
	margin: -100px 0;
}

section.portfolio h2 {
	color: $navColor;
	position: relative;
	&::after {
	        content: '';
	        position: absolute;
	        top: -45px;
	        left: -40px;
	        height: 60px;
	        width: 40px;
	        border-top: 10px solid $alternateColor;
	        border-left: 10px solid $alternateColor;
	    }
}

div.portfolioGrid {
	display: flex;
	flex-direction: column;
}

div.portfolioGrid h3 {
	font-family: $headerFont;
}

section.portfolio div {
	position: relative;
	display: inline-block;
}

section.portfolio div .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $overlayColor;
	clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 85%);
	opacity: .9;
	transition: all 0.5s ease;
}

section.portfolio div:hover .overlay {
	clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 15%);
	opacity: 0.7;
	display: block;
}

section.portfolio div .overlay p {
	color: white;
	text-align: center;
	font-size: 3rem;
}

section.skillz {
	background-color: white;
	padding: 10%;
}

section.skillz h2 {
	color: $overlayColor;
	text-align: right;
	margin: 0;
	position: relative;
	&::after {
	        content: '';
	        position: absolute;
	        top: -45px;
	        right: -40px;
	        height: 60px;
	        width: 40px;
	        border-top: 10px solid $navColor;
	        border-right: 10px solid $navColor;
	    }
}

section.skillz h3 {
	text-align: center;
	color: $alternateColor;
}

section.skillz i {
	color: $navColor;
	font-size: 7rem;
	padding: 2%;
}

section.skillz svg {
	fill: $navColor;
	width: 7rem;
	height: 7rem;
}

div.interests1, div.interests2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto;
	padding: 5%;
}

div.box3, div.box4 {
	display: flex;
	justify-content: space-around;
}

div.toolbox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%;
	margin: 0 auto;
}

div.box1, div.box2 {
	display: flex;
	justify-content: space-between;
}

div.toolbox i:hover, div.toolbox svg:hover, div.interests1 i:hover, div.interests2 i:hover {
	// margin: 0 auto;
	color: $headerColor;
	fill: $headerColor;
}